body {
    font-family: 'Roboto SLab', serif;
    color: #777;
}


header#main-header {
    background-image: url(../img/header/pictures_on_the_wall.jpg);
    height: 100vh; 
}

.header-caption {
    padding: 50vh;
    text-align: center;
    color: white;
}

#main-nav {
    background-color: aqua;
    opacity: 0.9;
}

#main-nav a.navbar-brand {
    color: white;
}

#main-nav a.nav-link {
    color: white;
}

h3 {
    font-style: italic; 
}

/*servies*/
.row {
    text-align: center;
    font-size: 20px;
}

#kwadrat {
    height: 50px;
    width: 50px;
    border: solid;
    border-radius: 50px;
    color: aqua;
    position: relative;
    margin: 6px auto;
}

#kwadrat .fa {
    position: absolute;
    left: 30%;
    top: 30%;
    margin: 0 auto;
    
    
}
/*servies END*/






